
body {
  width: 1440px;
  height: 1024px;
  margin: 0;
  font-family: var(--font-family);
  background-color: #f4f4f4;
  color: #333;
}

h2 {
  color: var(--primary-color);
  margin-bottom: 20px;
}

h3, p {
  margin: 0;
}
