/* src/styles/templates/dashboardTemplate.css */
.dashboard-template {
    display: flex;
  }
  
  .sidebar {
    flex: 1;
  }
  
  .content {
    flex: 3;
    padding: 20px;
  }
  
  .dashboard-content {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
  }
  