.summary-box {
  margin: 0 0;
  padding: 20px;
  border-radius: 10px;
}

.summary-box-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.summary-box-card {
  width: 240px;
  height: 65px;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.summary-box-card .summary-image {
  width: 41px;
  height: 41px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
}

.summary-details {
  flex-grow: 1;
}

.summary-details h3 {
  font-size: 1em;
  margin: 0;
  color: #333;
}

.summary-details p {
  margin: 0;
  color:#8A97A4;
  line-height: 19.1px;
}

.summary-box-card p {
  font-size: 0.9em;
  color: #8A97A4;
}
